<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Us via WhatsApp</title>
    <link rel="stylesheet" href="static/css/whatsapp.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Contact Us on WhatsApp</h1>
        </header>
        <main>
            <p>If you have any questions or need assistance, please contact us on WhatsApp:</p>
            <a href="https://wa.me/03445400280" class="contact-button" target="_blank">
                Contact Us on WhatsApp
            </a>
        </main>
    </div>
</body>
</html>
